.heading {
  display: flex;

  background-color: #4a90e2;
  color: white;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  justify-content: space-between;
}
