@font-face {
  font-family: "Popcat";
  src: url("/Popcat.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: 1rem auto;
  padding: 1rem;

  font-family: Popcat, sans-serif;
}
